* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.inicio {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 100vh;
  align-items: center;
  justify-content: center; }
  .inicio__title {
    text-align: center;
    margin-bottom: 20px; }
  .inicio__password {
    margin-bottom: 20px; }

.aplicacion {
  outline: 1px solid red; }
  .aplicacion__titulo {
    font-size: 25px;
    color: red; }
  .aplicacion__codigo {
    display: flex;
    font-size: 19px;
    justify-content: space-around; }
    .aplicacion__codigo input {
      background-color: gray;
      padding: 10px; }
  .aplicacion__panel {
    display: flex;
    outline: 1px solid purple; }
    .aplicacion__panel__lista {
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 80%;
      outline: 1px solid pink;
      overflow-y: scroll; }
    .aplicacion__panel__botones {
      display: flex;
      flex-direction: column;
      width: 20%;
      justify-content: space-around; }
      .aplicacion__panel__botones__menos {
        width: 100%; }
      .aplicacion__panel__botones__delete {
        width: 100%; }
      .aplicacion__panel__botones__inventario {
        width: 100%; }
      .aplicacion__panel__botones button {
        width: 90%; }
  .aplicacion__boton {
    display: flex;
    justify-content: center; }
  .aplicacion__cerrar {
    display: flex;
    justify-content: end; }

.cart {
  display: flex;
  flex-direction: row;
  border: 1px solid red; }
