.aplicacion{
    outline: 1px solid red;
    &__titulo{
        font-size: 25px;
        color: red;
    }
    &__codigo{
        display: flex;
        font-size: 19px;
        justify-content: space-around;
        input{
            background-color: gray;
        }
    }
    &__panel{
        display: flex;
        outline:  1px solid purple;
        &__lista{
            height: 200px;
            width: 80%;
            outline: 1px solid pink;
        }
        &__botones{
            display: flex;
            flex-direction: column;
            width: 20%;
            justify-content: space-around;
           &__menos{
            width: 100%;
           }
           &__delete{
            width: 100%;
           }
           &__inventario{
            width: 100%;
           }
            button{
                width: 90%;
        
            }
        }

    }
    &__boton{
        display: flex;
        justify-content: center;
    }
    &__cerrar{
        display: flex;
        justify-content: end;
    }

}